---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import { Icon } from 'astro-icon';
const {frontmatter} = Astro.props;
---
<Layout title={frontmatter.title} description={frontmatter.description}>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css" integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM" crossorigin="anonymous">
	<Nav page="blogPost"/>
	<div class="blogSection">
		<h1 class="blogTitle">{frontmatter.title}</h1>
		<div class="navigation">
			<div class="back">
				<a href="/blog" class="backButton"><Icon pack="ri" name="arrow-left-line" class="backIcon"/>Back</a>
			</div>
			<Icon pack={frontmatter.icon.split(':')[0]} name={frontmatter.icon.split(':')[1]} class="blogIcon"/>
			<div class="postDateContainer">
				<p class="postDate">{frontmatter.date}</p>
			</div>
		</div>
		<div class="blogContent">
			<slot />
		</div>
	</div>
	</div>
</Layout>

<style>
	.blogSection {
		background-color: #1B2023;
		min-height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 4em 2em;
		overflow: hidden;
	}
	.blogTitle {
		color: #FFF;
		text-align: center;
		font-family: Poppins;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 1em;
	}
	.blogContent {
		margin-top: 2em;
		width: 100%;
		max-width: 800px;
	}
	:global(.blogContent h1) {
		font-family: Poppins;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
	}
	:global(.blogContent h2) {
		font-family: Poppins;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
	}
	:global(.blogContent h3) {
		font-family: Poppins;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
	}
	:global(.blogContent h4) {
		font-family: Poppins;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
	}
	:global(.blogContent h5) {
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
	}
	:global(.blogContent h6) {
		font-family: Poppins;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
	}
	:global(.blogContent p) {
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
	}
	:global(.blogContent a) {
		color: #FFC107;
	}
	:global(.blogContent a:hover) {
		color: #FFC107;
		text-decoration: underline;
	}
	:global(.blogContent ul) {
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
	}
	:global(.blogContent ol) {
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
		counter-reset: item;
	}
	:global(.blogContent ol li) {
		counter-increment: item;
	}
	:global(.blogContent ol li)::before {
		content: counter(item) ". ";
	}
	:global(.blogContent ul li)::before {
		content: "• ";
	}
	:global(.blogContent li) {
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
	}

	:global(.blogContent blockquote) {
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 1em;
		color: white;
		border-left: 4px solid #FFC107;
		padding-left: 1em;
	}
	:global(.blogContent pre) {
		font-family: 'Fira Code', monospace;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: white;
		padding: 1em;
		border-radius: 4px;
		margin: 1em 0.25em;
	}
	:global(.blogContent hr) {
		border: 1px solid #FFC107;
		margin: 2em 0;
		margin-left: 5%;
		margin-right: 5%;
	}
	:global(.blogContent img) {
		width: 100%;
		max-width: 800px;
		margin: 1em 0;
		padding: 1em;
	}
	:global(.blogContent table) {
		width: 100%;
		max-width: 800px;
		margin: 1em 0;
	}
	:global(.blogContent table th) {
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		color: white;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	:global(.blogContent table td) {
		text-align: center;
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		color: white;
		padding: 0.5em 0.25em;
	}
	:global(.blogContent table tr) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	:global(.blogContent table tr:last-child) {
		border-bottom: none;
	}
	:global(.blogContent table tr:nth-child(2n)) {
		background-color: rgba(255, 255, 255, 0.1);
	}
	:global(.blogContent table tr:nth-child(2n+1)) {
		background-color: rgba(255, 255, 255, 0.05);
	}
	:global(.blogContent table tr:hover) {
		background-color: rgba(255, 255, 255, 0.2);
	}
	:global(.blogContent table tr:hover td) {
		color: white;
	}
	:global(.blogContent table tr:hover th) {
		color: white;
	}
	.navigation {
		display: flex;
		width: 100%;
		max-width: 800px;
		justify-content: space-between;
	}
	.back {
		display: flex;
		align-items: center;
		color: rgba(255, 255, 255, 0.5);
		transition: all 0.2s ease-in-out;
	}
	.back:hover {
		color: rgba(255, 255, 255, 1);
	}
	.backButton {
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.backIcon {
		height: 32px;
		margin-right: 0.5em;
	}
	.blogIcon {
		height: 100px;
		color: white;
	}
	.postDateContainer {
		display: flex;
		align-items: center;
	}
	.postDate {
		color: rgba(255, 255, 255, 0.5);
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-left: 1em;
	}
</style>
